@use '../../variables.scss' as *;

header {
    color: $colorSecundario;
    background-color: $colorPrimario;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    padding-top: 10px;
}

header>a:first-child {
    margin-left: $margenExterior;
    margin-right: auto;   
}

header a:first-child img {
    width: 80px;
    height: auto;
}

header nav {
    margin-left: auto;
    margin-right: auto;
}

header nav ul {
    display: flex;
}

ul li {
    padding: 2rem;
    text-align: center;
}

header a:last-child {
    color: $colorSecundario;
    background-color: $colorPrimario;    
}

header>a:last-child {
    border: 1px solid white;
    text-align: center;
    align-content: center;
    justify-content: center;
    padding: 1.5em;
    border-radius: 1em;
    margin-left: auto;   
    margin-right: $margenExterior;
}