@use '../../variables.scss' as *;

footer {
    color: $colorFooter;
    display: flex;
    flex-direction: column;
    background-color: $colorPrimario;
}

.footer-main {
    width: 37%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $colorPrimario;
    padding-top: 0.5em;
}

.footer-main img{
    width: 80px !important;
    height: auto;
    margin-left: 10.5em;
    margin-right: auto;
}

.footer-main a {
    color: $colorFooter;
}

.footer-after {
    display: flex;
    padding-left: 10.5em;
    color: $colorFooterAfter !important;
    background-color: $footerAfter;
    padding-bottom: 0.5em;
}

.footer-after a {
    color: $colorFooterAfter;
}

.footer-after div {
    display: flex;
    flex-direction: row;
}

.footer-after div p{
    margin-left: 5px;
}

.footer-after ul {
    display: flex;
    flex-direction: flex-start;
    margin-right: 21em;
    margin-left: auto;
}

.footer-after ul li {
    margin-left: 5px;
}

footer-after img{
    width: 21px !important;
    height: auto;
}