@use '../../../variables.scss' as *;

.clientes-container h2 {
    text-align: center;
}

.clientes-container .clientes-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1em;
    align-items: center;
}

.clientes-container .clientes-table th, .clientes-container .clientes-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.clientes-container .clientes-table th{
    background-color: $colorPrimario !important;
    color: $colorSecundario !important;
}