@use '../../../variables.scss' as *;

.pedidos-botones {
  color: $colorSecundario;
  background-color: $colorPrimario;
  border: 1px solid $colorPrimario;
  border-radius: 6px;
  padding: 11px 18px !important;
  font-family: $fuentePrimaria;
  font-size: 15px !important;
  margin: 5px;
}


table th, table td {
    padding: 20px;
}

table thead tr {
    border: 1px solid $colorPrimario !important;
}


.pedidos-container h2 {
    text-align: center;
}

.pedidos-container .pedidos-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1em;
    align-items: center;
}

.pedidos-container .pedidos-table th, .pedidos-container .pedidos-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.pedidos-container .pedidos-table th{
    background-color: $colorPrimario !important;
    color: $colorSecundario !important;
}