.client-login {
    text-align: center;
      height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center; // Centra horizontalmente
  align-items: center;     // Centra verticalmente
}


input {
    margin-bottom: 10px;
}



a {
    color: #007bff;
    text-decoration: none;
}