$anchoGlobal: 1400px;
$colorPrimario: black;
$colorSecundario: white;
$fuentePrimaria: "Poppins", "Odoo Unicode Support Noto", sans-serif !important;
$colorFooter: #777777;
$footerAfter: #1a1a1a;
$colorFooterAfter: #999999;
$margenExterior: 10em;